.notes-container{
    position: relative;
    text-align: center;
    font-size: larger;
    padding: 5% 0;
    top: 30%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000000;
}

video{
    width: 50vw;
    height: 35vw;
    display:inline-block;margin-right:10px;
    white-space: nowrap;
overflow-x: auto;
}
